header {
    background-color: #5e17eb;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ph-code {
    display: block;
}

.ph-list {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.menu.open {
    right: 0;
}

@media (max-width: 768px) {
    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    .logo {
        font-size: 20px;
        margin-left: 0rem;
        gap: 1px;
    }

    .logo > i {
        font-size: 2rem;
    }

    .menu {
        position: fixed;
        top: 55px;
        right: -300px;
        background-color: #333;
        height: 70vh;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
    }

    .menu .open {
        right: 0;
    }

    .menu li {
        margin: 20px 0;
    }

    .menu li > a {
        color: #fff;
        text-transform: uppercase;
    }

    .ph-code,
    .ph-list {
        display: block;
        color: #fff;
        margin-right: 1rem;
        font-size: 2rem;
    }

    .nav {
        justify-content: space-between;
    }
}