.paragrafo {
    background-color: #000;
}

.paragrafo p {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    color: #fff;
    font-size: 1.3rem;
    font-family: 500;
    text-align: justify;
}

@media (max-width:768px) {
    .paragrafo p {
        text-align: left;
    }
}